@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.BlogPageMain {
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.latestSection {
  width: 79%;
  display: flex;
  flex-direction: column;
}

.trendingSection {
  width: 19%;
  display: flex;
  flex-direction: column;
}

.trendingTags {
  background-color: #f9fafb;
  border-radius: 4px;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #374151;
  font-family: 'Montserrat', sans-serif;
  margin: 2%;
}

.latestTrendingSeparator {
  border-right: 1px solid #000;
  height: 100%;
}
