.sub-nav{
  background-color: #EFF6FF;
}

.join-section{
  background-image: url(../../assets/code_pattern\ 1.svg);
  height: 70vh;
}

.footer{
  background-image: url(../../assets/FooterBackground.png);
  height: 60vh;
  width: 100vw;
}

.Navbtn {
  background-color: #1e40af;
  border-radius: 4px;
  padding: 10px;
  color: #f9fafb;
  font-family: 'poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
}
